-r requirements.txt
aiointercept==0.1.8
black==26.5.1
mypy==2.1.0
pre-commit-hooks==6.0.0
pre-commit==4.6.0
pylint==4.0.6
pytest-asyncio==1.4.0
pytest-cov==7.1.0
pytest==9.1.1
reorder-python-imports==3.16.0
